html {
	font-family: sans-serif;
}

body {
	margin: -2px auto;
	padding: 40px 40px;
	max-width: 1000px;
	line-height: 1.6;
	font-size: 18px;
	color: #454545;
	background: #eeeeee;
}

h1,
h2,
h3 {
	margin: 0px;
	padding: 0px;
	line-height: 1.2;
}

h1 {
	color: #363636;
}

h3 {
	margin: 10px 5px;
	color: #512;
}

a {
	color: inherit;
	text-decoration: none;
}

.first-letter {
	font-size: larger;
}

section {
	margin: 30px 0px;
}

#searchbox {
	font-size: 14px;
}

#search-submit {
	font-size: 14px;
	font: sans-serif;
	border-radius: 0px;
	background: whitesmoke;
}

table {
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	margin-top: 5px;
}

thead {
	border-block-end: 3px solid;
	background: #cccccc;
}

th, td {
	border: 1px solid lightgrey;
	padding: 0.25rem 0.75rem;
}

tbody tr:nth-child(even) {
	background: color-mix(in srgb, #cccccc, transparent 60%);
}

p {
	margin: 10px 5px;
}
